<div class="row">
        <div class="large-12 columns">
        	<div class="row">
        		<div class="large=12 columns">
        			<h2>Bedrijven in de {{branche}} branche</h2>
        		</div>
        	</div>
        	<div class="row">
        		<div class="large-12 columns">
        			<input type="text-field" ng-model="search"> Zoeken
        		</div>
        	</div>
            <div class="row">
            	<div class="large-3 columns" ng-repeat="bedrijf in bedrijven | filter:search">
					{{bedrijf.name}}
            	</div>
            </div>
        </div>
</div>