<div class="row">
        <div class="large-12 columns">
        	<div class="row">
        		<div class="large=12 columns">
        			<h2>Bedrijven in de {{branche}} branche</h2>
        		</div>
        	</div>
        	<div class="row">
        		<div class="large-12 columns">
        			<input type="text-field" ng-model="search"> Zoeken
        		</div>
        	</div>
            <div class="row">
            	<div class="large-3 columns" ng-repeat="category in categories | filter:search">
            		<h3>{{category['naam']}}</h3>
            		<div class="branche" ng-repeat="branche in category['branches']">
            			<a ng-click="navigate.branche(branche)">{{branche}}</a>
            		</div>
            	</div>
            </div>
        </div>
</div>