<div class="row">
        <div class="large-12 columns">
        	<div class="row">
        		<div class="large=12 columns">
        			<h2>Branches per kategorie</h2>
        		</div>
        	</div>
        	<div class="row">
        		<div class="large-12 columns">
        			<input type="text-field" ng-model="search"> Zoeken
        		</div>
        	</div>
            <div class="row">
            	<div class="large-3 columns" ng-repeat="category in categories">
            		<h3>{{category.category}}</h3>
            		<div class="branche" ng-repeat="branche in category['branches'] | filter:search">
            			<a ng-click="navigate.branche(branche.id)">{{branche.naam}}</a>
            		</div>
            	</div>
            </div>
        </div>
</div>